{% load comment_includes %}

<div id="{% entity_type entity %}CommentContainer">
	<div style="padding-top:20px; padding-bottom:30px; border-bottom:solid 1px #EAEAEA;">
		<div class="commentLabel" style="float:left;">Comments (<div style="display:inline;" id="{% entity_type entity %}countTotal">{% comment_count entity %}</div>)</div>
		<div style="float:right;">
			<div id="{% entity_type entity %}showComments" class="commentShowHide" style="display:inline;"  >
					SHOW COMMENTS
			</div>
			<div id="{% entity_type entity %}hideComments" class="commentShowHide" style="display:none;" >
					HIDE COMMENTS
			</div>
			<span style="margin-left:5px; display:inline;">
				<input type="checkBox" id="{% entity_type entity %}chk_showall"  class="expand-collapse" name="{% entity_type entity %}chk_showall" value=false   />
				<label for="{% entity_type entity %}chk_showall" style="display:inline;"><span></span></label> 
			</span>
			
			
		</div>	
	</div>
	<div class="clear"></div>
		
	<div id="{% entity_type entity %}allComments" style="display:none;">
		{% comment_list %}
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){

	$('#{% entity_type entity %}chk_showall').click(function(){
		toggleComments($('#{% entity_type entity %}chk_showall').attr('checked'));
	});

	$('#{% entity_type entity %}showComments').click(function(){
		toggleComments(true);
	});

	$('#{% entity_type entity %}hideComments').click(function(){
		toggleComments(false);
	});

	function toggleComments(show) {
		if(show) {
    		$('#{% entity_type entity %}hideComments').css('display', 'inline');
 	    	$('#{% entity_type entity %}showComments').css('display', 'none');
 	    	$('#{% entity_type entity %}chk_showall').attr('checked', true);
 	    	setComments();
 	    } else {
	        $('#{% entity_type entity %}hideComments').css('display', 'none');
      	 	$('#{% entity_type entity %}showComments').css('display', 'inline');
      		$('#{% entity_type entity %}chk_showall').attr('checked', false);
      	 	$('#{% entity_type entity %}allComments').hide({duration:300, easing:'swing'});
        }
	}

	function setComments() {
	//	$('#{% entity_type entity %}commentresults').html({{comments}});
		$('#{% entity_type entity %}allComments').show({duration:300, easing:'swing'});
	}
})
</script>