<style>
	.add-comment textarea {
		width:100%;
		padding-right:0px;
		height:100px;
	}
</style>

{% load comment_includes %}
<div id="{% entity_type entity %}commentresults" style="font-size:100%">
	{% if entity|all_comments %}
		{% for c in entity|all_comments %}
			<div class="comments" style="border-top:solid 1px #EAEAEA;">
				{% comment_details c True %}
			</div>
		{% endfor %}
	{% endif %}
		<div id="{% entity_type entity %}-addCommentContainer" class="add-comment">
			<form id="{% entity_type entity %}-addCommentForm" action="/comments/add/" method="post">{% csrf_token %}
				<div class="fieldWrapper">
						{# Include the hidden fields in the form #}
						{% for hidden in form.hidden_fields %}
							  {{ hidden }}
						{% endfor %}
							
						<div style="color:red;">{{ form.comment.errors }}</div>
						<textarea id="{% entity_type entity %}-commentTxt" name="comment" cols="40" rows="3" maxlength="300"></textarea>
				 </div>
			    <button id="{% entity_type entity %}-addComment" class="dark" onClick="return false;">Submit</button>
				<button id="{% entity_type entity %}-addCommentCancel" class="light" onClick="return false;">Cancel</button>
			</form>
		</div>
				
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#{% entity_type entity %}countTotal').html({% comment_count entity %});
	$('#{% entity_type entity %}-addComment').click(function(event){
		if ($('#{% entity_type entity %}-commentTxt').val().trim() != '') {
		    var form = $('#{% entity_type entity %}-addCommentForm');
		    $.post(
		    		form.attr('action'), 
		    		form.serialize(), 
		    		function(data, textStatus, jqXHR){
		    			$('#{% entity_type entity %}commentresults').html(data);
		    			$('#{% entity_type entity %}-commentTxt').val('')
		    		}
		    );
		}
	});

	$('#{% entity_type entity %}-addCommentCancel').click(function(event){
		$('#{% entity_type entity %}-commentTxt').val('');
	});

	$('button[id^="{% entity_type entity %}-save"]').click(function(event){
		var id = event.target.id.replace('{% entity_type entity %}-save', '');
		if ($('#{% entity_type entity %}-comment' + id).val().trim() != '') {
			var form = $('#{% entity_type entity %}-replyForm' + id);
			
			$.post(
		    		form.attr('action'), 
		    		form.serialize(), 
		    		function(data, textStatus, jqXHR){
		    			$('#{% entity_type entity %}commentresults').html(data);
		    			$('#{% entity_type entity %}-comment' + id).val('');
		    		}
		    );
		}
	});

	$('button[id^="{% entity_type entity %}-cancel"]').click(function(event){
		var id = event.target.id.replace('{% entity_type entity %}-cancel', '');
		$('#{% entity_type entity %}-comment' + id).val('');
		$('#{% entity_type entity %}-replyContainer' + id).hide({duration:300, easing:'swing'});
	});

	$('span[id^="{% entity_type entity %}-reply"]').click(function(event){
		var id = event.target.id.replace('{% entity_type entity %}-reply', '');
		$('#{% entity_type entity %}-replyContainer' + id).show({duration:300, easing:'swing'});
	});

	$('input[id^="{% entity_type entity %}-star"]').click(function(event){
		var id = event.target.id.replace('{% entity_type entity %}-star', '');
		var action = (event.target.checked) ? 'like' : 'unlike';
		var form = $('#{% entity_type entity %}-starForm' + id);
		$.post( '/comments/' + action + "/",
				form.serialize(),
				function (data, textStatus, jqXHR) {
					var style = (data == 0) ? 'none' : 'inline';
					$('#{% entity_type entity %}-starCountContainer' + id).css('display', style);
					
					var who = (data > 1) ? 'People' : 'Person';
					$('#{% entity_type entity %}-starCount' + id).html(data + ' ' + who);
				}
			);		
	});
})
</script>