<style>
	.add-comment textarea {
		width:100%;
		padding-right:0px;
		height:100px;
	}
</style>

{% load comment_includes %}
<div id="{{type}}commentresults" style="font-size:100%">
	{% if comments %}
		{% for c in comments %}
			<div class="comments" style="border-top:solid 1px #EAEAEA;">
				{% comment_details c True %}
			</div>
		{% endfor %}
	{% endif %}
		<div id="{{type}}-addCommentContainer" class="add-comment">
			<form id="{{type}}-addCommentForm" action="/comments/add/" method="post">{% csrf_token %}
				<div class="fieldWrapper">
						{# Include the hidden fields in the form #}
						{% for hidden in form.hidden_fields %}
							  {{ hidden }}
						{% endfor %}
							
						<div style="color:red;">{{ form.comment.errors }}</div>
						<textarea id="{{type}}-commentTxt" name="comment" cols="40" rows="3" maxlength="300"></textarea>
				 </div>
			    <button id="{{type}}-addComment" class="dark" onClick="return false;">Submit</button>
				<button id="{{type}}-addCommentCancel" class="light" onClick="return false;">Cancel</button>
			</form>
		</div>
				
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#{{type}}countTotal').html({{comment_count}});
	$('#{{type}}-addComment').click(function(event){
		if ($('#{{type}}-commentTxt').val().trim() != '') {
		    var form = $('#{{type}}-addCommentForm');
		    $.post(
		    		form.attr('action'), 
		    		form.serialize(), 
		    		function(data, textStatus, jqXHR){
		    			$('#{{type}}commentresults').html(data);
		    			$('#{{type}}-commentTxt').val('')
		    		}
		    );
		}
	});

	$('#{{type}}-addCommentCancel').click(function(event){
		$('#{{type}}-commentTxt').val('');
	});

	$('button[id^="{{type}}-save"]').click(function(event){
		var id = event.target.id.replace('{{type}}-save', '');
		if ($('#{{type}}-comment' + id).val().trim() != '') {
			var form = $('#{{type}}-replyForm' + id);
			
			$.post(
		    		form.attr('action'), 
		    		form.serialize(), 
		    		function(data, textStatus, jqXHR){
		    			$('#{{type}}commentresults').html(data);
		    			$('#{{type}}-comment' + id).val('');
		    		}
		    );
		}
	});

	$('button[id^="{{type}}-cancel"]').click(function(event){
		var id = event.target.id.replace('{{type}}-cancel', '');
		$('#{{type}}-comment' + id).val('');
		$('#{{type}}-replyContainer' + id).hide({duration:300, easing:'swing'});
	});

	$('span[id^="{{type}}-reply"]').click(function(event){
		var id = event.target.id.replace('{{type}}-reply', '');
		$('#{{type}}-replyContainer' + id).show({duration:300, easing:'swing'});
	});

	$('input[id^="{{type}}-star"]').click(function(event){
		var id = event.target.id.replace('{{type}}-star', '');
		var action = (event.target.checked) ? 'like' : 'unlike';
		$.post( '/${controller}/' + action,
				{id:id},
				function (response) {
					var style = (response == 0) ? 'none' : 'inline';
					$('#{{type}}-starCountContainer' + id).css('display', style);
					
					var who = (response > 1) ? 'People' : 'Person';
					$('#{{type}}-starCount' + id).html(response + ' ' + who);
				}
			);		
	});
})
</script>